.playlist {
  padding: 0 1rem 0 0;
}

.picture {
  display: flex;
  justify-content: flex-end;
  padding-left: 10rem;
  padding-top: 90px;
}
.content {
  padding-left: 4rem;
  padding-top: 80px;
}
.color,
.smallers {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
  color: rgb(172, 171, 171);
}
.small {
  display: flex;
  justify-content: flex-start;
}

.ciara {
  width: 30px;
  margin: 5px 10px 0 0;
}
.cici {
  width: 75%;
  height: 75%;
}
@media (max-width: 800px) {
  .content {
    display: none;
  }
}
